
html {
  background-color: #172225;
  font-size: 87.5%;
  height: 100%;
}
body {
  font-family: Helvetica, sans-serif;
  background: #43636b;
  color: white;
  text-shadow: 1px 1px #222;
  padding: 1.5rem;
  max-width: 500px;
  margin: auto;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  min-height: 700px;
}

hr {
  margin: 1rem 0;
}

input,
textarea,
select {
  &:disabled {
    background-color: #e4e4e4;
    color: #82807f;
  }
}

.list {
  &__item {
    background-color: #84979b;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.5rem;
  }
}

.field {
  margin-bottom: 1rem;
  &__name {
    text-transform: capitalize;
    font-family: monospace;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    display: inline-block;
  }
  &__input,
  &__text-area {
    display: block;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 0.2rem;
  }
  &__text-area {
    height: 6rem;
    &--disabled{      
      color: #444;
      background: #bbb;
    }
  }
  &__checkboxes {
    background: white;
    color: black;
    text-shadow: none;
    padding: 1rem 1rem 0.5rem 1rem;
    max-height: 6rem;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    overflow-y: scroll;

    label {
      width: 50%;
      display: inline-block;
      padding-right: 1rem;
      box-sizing: border-box;
      margin-bottom: 0.5rem;

      input {
        vertical-align: middle;
        height: 1rem;
        margin: 0 0.2rem 0 0;
      }
    }

    &--disabled {
      background-color: #e4e4e4;
      color: #82807f;
    }
  }
}

button{
  color: white;
  background-color: #AD8C6B;
  outline: none;
  border-color: #8A6A4A;
  padding: 4px 8px;
  border-radius: 5px;
  text-shadow: 1px 1px #222;
  margin: 3px 5px 3px 0;
  font-weight: 600;
  font-family: monospace;
  cursor: pointer;
  font-size: 1.2rem;

  &:active, &.selected {
      background: #8A6A4A;
      border-color: #724E29;
  }
}
.quiz-question{
  margin: 1rem 0;
  font-family: verdana;
  padding: 1rem;
  background: rgba(255,255,255,.2);
  border-radius: 7px;
  border: 4px dashed #8e9394;
}