


@use '/styles/nav';





$color-main: #43636B;
$color-complement: #6B4B43;

//$_The_Golden_Ratio: 1.61803398875;

$_base_font_size: 14px;







html{  
  @include nav.nav-style;
  font-size: 14px;
  
   * {     
    box-sizing: border-box;

  }
}

body{
  margin: 0; 
  background-color: #111715;
  overflow-y: scroll;
  height: 100%;
  min-height: 100vh;

}
hr{
  border-color: #3f6184;
}
personal-quiz {
  font-family: Helvetica, sans-serif;
  background: #262935;
  //background-image: url('./src/images/brick-tile.jpg');  
  //background-size: 8rem;
  color: white;
  text-shadow: 1px 1px #222;
  padding: 1.5rem;
  max-width: 500px;
  margin: auto;
  box-sizing: border-box;
  display: block;
  height: 100%;
  min-height: 100vh;
}



personal-quiz > *,
main > *{
  margin: 2rem auto;

  &:first-child{margin-top: 0;}
  &:last-child{margin-bottom: 0;}
}

h1{  
  color: #6c95bf;
  font-size: 1.7rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px #160e25, 2px 2px 2px #160e25;
}

h2{
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

%inputStyle2{    
  display: block;
  font-family: 'Sriracha', cursive;
  padding: 1rem 1.2rem;
  border-radius: 2px;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  border: 0.3rem solid #50341f;
  outline: none;
  box-shadow: inset 3px 3px 2px 0px rgba(0, 0, 0, .3), inset -1px -1px 1px 0px rgba(0, 0, 0, .4), 1px 1px 1px -1px black, -1px -1px 1px -1px black;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px #000000b8;
  background-color: #2f5a4c;

  &:hover, &:focus{
    outline: none;  
    border-color:#5d402a;  
  }
}


.text-field{
  &__label{    
    text-transform: capitalize;
    font-family: monospace;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    display: inline-block;
    color: #80afe0;
  }
  &__input{
    @extend %inputStyle2;
  }
}
%inputStyle{
  display: block;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.3rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border-top-color: #222;
  border-style: solid;
  border-width: 2px;
  border-left-color: #222;
  outline: none;

  &:hover, &:focus{
    outline: none;    
  }
}

textarea{
  resize:none;
  overflow-y: auto;
}


input,
textarea,
select {
  &:disabled {
    background-color: #e4e4e4;
    color: #82807f;
  }
}

.list {
  &-filter{
    margin-bottom: 1rem;
  }
  &__item {
    background-color: #32353c;
    margin-bottom: 0.3rem;
    padding: 0.3rem 0.7rem;
    font-size: 1.1rem;
    border-radius: 0.1rem;
    box-shadow: 0.1rem 0.1rem 0.2rem -0.1rem #3e3e3e;
    &--expanded{
      padding: 1rem 1rem;
      background-color: #32353c;
      margin: 1rem 0;
    }
  }
}

.filter{
  @extend %inputStyle;
  padding: 0.4rem 0 0.4rem 0.9rem;
  font-size: 1.1rem;
  background: #bac3cc;
  color: #0e2e4e;
}

.category-selector{      background: #6f8fc338;
  color: #bddde0;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #415569;

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__heading{    
    margin-right: 2rem;
    color: #b0d5fb;
  }
  &__filter{
    flex: 1;
  }

  .categories-container{
    overflow-y: auto;
    max-height: 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > *{
      white-space: nowrap;
    }
    &::after{
      content: '';
      flex: 1;
    }

  }
}


.field {
  margin-bottom: 1rem;
  &__name {
    text-transform: capitalize;
    font-family: monospace;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    display: inline-block;
    color: #80afe0;
  }
  &__input,
  &__text-area {
    @extend %inputStyle;
  }
  &__text-area {
    height: 6rem;
    &--disabled{      
      color: #444;
      background: #bbb;
    }
  }
  &__checkboxes {
    background: white;
    color: black;
    text-shadow: none;
    padding: 1rem 1rem 0.5rem 1rem;
    max-height: 6rem;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    overflow-y: scroll;

    label {
      width: 50%;
      display: inline-block;
      padding-right: 1rem;
      box-sizing: border-box;
      margin-bottom: 0.5rem;

      input {
        vertical-align: middle;
        height: 1rem;
        margin: 0 0.2rem 0 0;
      }
    }

    &--disabled {
      background-color: #e4e4e4;
      color: #82807f;
    }
  }
}

button{
  color: #f9f1eb;
  background-color: #886644;
  outline: none;
  border-color: #4a2f1b;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #222;
  margin: 3px 5px 3px 0;
  cursor: pointer;
  font: 500 1.1rem monospace;

  &:active, &.selected {
    background: #b38250;
    border-color: #563727;
    color: #ffffff;
  }
}
.quiz-question{
  margin: 1rem 0;
  font-family: verdana;
  padding: 1rem;
  background: rgba(255,255,255,.2);
  border-radius: 7px;
  border: 4px dashed #8e9394;
}